blinker
certifi
charset-normalizer
click
dash
dash-core-components
dash-html-components
dash-table
Flask
idna
importlib_metadata
itsdangerous
Jinja2
joblib
MarkupSafe
narwhals
nest-asyncio
numpy
packaging
plotly
requests
retrying
six
threadpoolctl
typing_extensions
umap-learn
urllib3
Werkzeug
zipp
